main {
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    font-size: 32px;
}
body {
    background-color: beige;
}

.gameButton {
    border-radius: 20px;
    border: none;
    margin: 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.resetButton {
    width: 110px;
    height: 40px;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: rgb(251, 151, 79);
    font-size: large;
    font-weight: bold;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.result {
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 150px;
    width: 150px;
    border-radius:80px;
    margin: 10px;
    border: none;
}